<div class="container">
  {% for item in items %}
    {% if loop.index0 % 3 == 0 %}
      <div class="row">
    {% endif %}
    <div class="col-sm-4">
      <form action="/home/{{users.customer_id}}/cart" method="post">
        <div class="card">
          <div class="card-body">
            <h5 class="card-title" name='product'>{{ item['product'] }}</h5>
			<input type="hidden" name="product" value="{{ item['product'] }}">
            <p class="card-text">{{ item['price'] }} €</p>
            <p class="card-text" style="height: 100%">{{ item.description }}</p>
            <button type="submit" class="btn btn-primary"> Add to Cart </button>
          </div>
        </div>
      </form>
    </div>
    {% if loop.index0 % 3 == 2 or loop.last %}
      </div>
    {% endif %}
  {% endfor %}
</div>
